h1 {
  text-align: left;
  font-size: 16pt;
}

h2 {
  text-align: center;
  font-size: 40pt;
  background-color: white;
  opacity: 0.7;
  border-radius: 18px;
}

h3 {
  color: black;
  background-color: white;
  opacity: 0.5;
}

body {
  background-image: linear-gradient(
    white,
    white,
    white,
    red,
    red,
    black,
    black
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: white;
}

footer {
  background-color: black;
}

p {
  background-color: white;
  font-size: 20pt;
  opacity: 0.7;
  border-radius: 18px;
}

ul {
  background-color: white;
  font-size: 20pt;
  opacity: 0.7;
  border-radius: 18px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.contactFooter {
  text-align: center;
  display: block;
  margin: auto;
}

.carousel-item {
  max-height: 235px;
}

.fa-angle-double-down {
  font-size: 40pt;
}

.menuItem {
  font-size: 20pt;
}

.menuInfo {
  font-size: 18pt;
}

.nav-item {
  font-size: 20pt;
}

#homeCarousel {
  width: 450px;
  display: block;
  margin: auto;
  border: 5px ridge black;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
