h1 {
  text-align: center;
}

h3 {
  color: black;
  background-color: white;
  opacity: 0.5;
}

body {
  background-color: rgb(183, 183, 183);
}

.centerimage {
  display: block;
  margin: auto;
}

.contactFooter {
    text-align: center;
    display: block;
    margin: auto;
}

#homeCarousel {
  width: 500px;
  display: block;
  margin: auto;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
